<div class="content-prueba">
    <h1>Flower registry</h1>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        <input 
        type="text" 
        class="form-control" 
        aria-label="Sizing example input" 
        aria-describedby="inputGroup-sizing-default" 
        [(ngModel)]="valueName" 
        >
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
        <input 
        type="text" 
        class="form-control" 
        aria-label="Sizing example input" 
        aria-describedby="inputGroup-sizing-default"
        [(ngModel)]="valuePrice" 
       >
    </div>
    
    <button type="button" class="btn btn-primary" (click)="saveData(valueName, valuePrice)">Save</button>
</div>

<div class="content-prueba">
    <h1>Find All Flowers</h1>
    <button type="button" class="btn btn-primary" (click)="findAll()">Find All</button>
    <div *ngIf="isList">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody  *ngFor="let flower of this.listFlowers">
                <tr>
                <th scope="row">1</th>
                <td scope="row" *ngIf="this.listFlowers.length > 0">{{flower.name}}</td>
                <td scope="row" *ngIf="this.listFlowers.length > 0">$ {{flower.price}}</td>
                <button type="button" class="btn btn-danger" (click)="deleteFlower(flower.id)">Delete</button>
                </tr>
            </tbody>
            </table>
    </div>
</div>

<div class="content-prueba">
    <h1>Find price to 20</h1>
    <button type="button" class="btn btn-primary" (click)="findPrice()">Find</button>
    <div *ngIf="isListPrice">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody  *ngFor="let flower of this.listFlowersPrice">
                <tr>
                <th scope="row">1</th>
                <td scope="row" *ngIf="this.listFlowersPrice.length > 0">{{flower.id}}</td>
                <td scope="row" *ngIf="this.listFlowersPrice.length > 0">{{flower.name}}</td>
                <td scope="row" *ngIf="this.listFlowersPrice.length > 0">$ {{flower.price}}</td>
                <button type="button" class="btn btn-danger" (click)="deleteFlower(flower.id)">Delete</button>
                </tr>
            </tbody>
            </table>
    </div>
</div>

  
  